@page "{id}"
@model FisketorvetWebAppProject.Pages.Orders.OrderModel
@{
}
@using System
<div class="container" style="width:1200px; height:800px; margin:auto;">
    <div class="float-left" style="width:60%; height:100%; float:left;">
        <h4>Hello @Model.Order.Customer.Name, Thank you for placing this order on @Model.Order.DateTime</h4>
        <h5> Your order contains:</h5>
        @foreach (var item in Model.Order.Customer.CustomerCart.AllProduct())
        {
            Model.IncrementProductNO();
            <tr>
                <td class="text-left">  @Model.ProductNO.</td>
                <td class="text-left">  @item.Name</td>
                <td class="text-left"> <img style="max-width:100px; max-height:100px; text-align:center; margin:auto;" src="/images/ProductImages/@item.Image" alt="Product image"></td>
                <td class="text-right">
                    Price :
                    @item.Price
                </td>
            </tr>
            <br>
        }
    </div>
    <div class="float-md-right" style="width: 40%; height: 100%; float:right; font-family:'Times New Roman'">
        @if (Model.Order.Status == Models.State.Awaiting_Payment.ToString())
        {
            <span>Order status: @Model.Order.Status</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>Choosen payment method is @Model.Order.Payment.PaymentMethod</span>
            <br />
            if (Model.Order.Payment.PaymentMethod == Models.PaymentMethod.LoyaltyCard.ToString())
            {
                double Discount = Math.Ceiling(Model.Order.TotalPrice * 0.1);
                double totalPriceAfterDiscount = Math.Floor(Model.Order.TotalPrice * 0.9);
                <br />
                <br />
                <span>You  have to pay pay a total price: @totalPriceAfterDiscount Kr.</span>
                <br />
                <span>Loyalty Card discount: @Discount Kr.</span>
                <br />
                <input class="btn btn-dark" type="button" value="Pay for Order">

            }
            else
            {
                <br />
                <br />
                <span>You  have to pay pay a total price: @Model.Order.TotalPrice Kr.</span>
                <br />
                <span>Loyalty Card discount: 0 Kr.</span>
                <br />
                <input class="btn btn-dark" type="button" value="Pay for Order">
            }
        }
        else
        {

        }
    </div>

    <br />


</div>


